html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jockey One', sans-serif;
}

a, img, button {
    user-select: none;
}

* {
    box-sizing: border-box;
}

body *::selection {
    background-color: white;
    color: black;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
    z-index: 100;
    overflow: hidden;
    transition: all 1s;
    opacity: 1;
    visibility: visible;
}

.loader, .loader::before, .loader::after {
    border-radius: 50%;
    border: 3px solid transparent;
}

.loader {
    position: relative;
    top: 50vh;
    margin-top: -75px;
    width: 150px;
    height: 150px;
    border-top-color: white;
    animation: spin 1s infinite linear;
}

.loader::before, .loader::after {
    content: '';
    position: absolute;
}

.loader::before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border-top-color: white;
    animation: spin 2s infinite linear;
}

.loader::after {
    top: 23px;
    right: 23px;
    bottom: 23px;
    left: 23px;
    border-top-color: white;
    animation: spin 3s infinite linear;
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.container {
    width: 300px;
    height: 300px;
    z-index: 3;
    position: relative;
    perspective: 1000px;
}

.key {
    position: absolute;
    height: 50px;
    width: 50px;
    fill: white;
    cursor: pointer;
}

.key:hover {
    fill: whitesmoke;
}

.key:active {
    height: 48px;
    width: 48px;
}

.key-left {
    top: 50%;
    transform: translateY(-50%);
    left: -250px;
}

.key-right {
    top: 50%;
    transform: translateY(-50%);
    right: -250px;
}

.key-up {
    left: 50%;
    transform: translateX(-50%);
    top: -200px;
}

.key-down {
    left: 50%;
    transform: translateX(-50%);
    bottom: -200px;
}

.cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transition: 1s;
}

.side {
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: 0 0 20px white;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front {
    transform: translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}

.card {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: no-repeat top;
    background-size: cover;
}

.side:nth-of-type(1) .card {
    background-image: url("images/theham.jpg");
    transition: 7s;
}

.side:nth-of-type(2) .card {
    background-image: url("images/landing.jpg");
    transition: 9s;
}

.side:nth-of-type(3) .card {
    background-image: url("images/forkio.jpg");
    transition: 5s;
}

.side:nth-of-type(4) .card {
    background-image: url("images/parallax.jpg");
    transition: 5s;
}

.side:nth-of-type(5) .card {
    background-image: url("images/instagram.jpg");
    transition: 2s;
}

.side:nth-of-type(6) .card {
    background-image: url("images/ramda.png");
    transition: 4s;
}

.card:hover {
    background-position: bottom;
}

.card:focus {
    outline: none;
}


@media only screen and (max-width: 900px) {
    .container {
        width: 250px;
        height: 250px;
    }

    .front {
        transform: translateZ(125px);
    }

    .back {
        transform: rotateY(180deg) translateZ(125px);
    }

    .right {
        transform: rotateY(90deg) translateZ(125px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(125px);
    }

    .top {
        transform: rotateX(90deg) translateZ(125px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(125px);
    }

    .key-left {
        left: -200px;
    }

    .key-right {
        right: -200px;
    }

    .key-up {
        top: -180px;
    }

    .key-down {
        bottom: -180px;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 200px;
        height: 200px;
    }

    .front {
        transform: translateZ(100px);
    }

    .back {
        transform: rotateY(180deg) translateZ(100px);
    }

    .right {
        transform: rotateY(90deg) translateZ(100px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(100px);
    }

    .top {
        transform: rotateX(90deg) translateZ(100px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(100px);
    }

    .key-left {
        left: -150px;
    }

    .key-right {
        right: -150px;
    }

    .key-up {
        top: -150px;
    }

    .key-down {
        bottom: -150px;
    }
}

@media only screen and (max-width: 530px) {
    .container {
        width: 180px;
        height: 180px;
    }

    .front {
        transform: translateZ(90px);
    }

    .back {
        transform: rotateY(180deg) translateZ(90px);
    }

    .right {
        transform: rotateY(90deg) translateZ(90px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(90px);
    }

    .top {
        transform: rotateX(90deg) translateZ(90px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(90px);
    }

    .key-left {
        left: -130px;
    }

    .key-right {
        right: -130px;
    }

    .key-up {
        top: -130px;
    }

    .key-down {
        bottom: -130px;
    }
}

@media only screen and (max-width: 470px) {
    .container {
        width: 150px;
        height: 150px;
    }

    .front {
        transform: translateZ(75px);
    }

    .back {
        transform: rotateY(180deg) translateZ(75px);
    }

    .right {
        transform: rotateY(90deg) translateZ(75px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(75px);
    }

    .top {
        transform: rotateX(90deg) translateZ(75px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(75px);
    }

    .key {
        height: 40px;
        width: 40px;
    }

    .key:active {
        height: 38px;
        width: 38px;
    }

    .key-left {
        left: -100px;
    }

    .key-right {
        right: -100px;
    }

    .key-up {
        top: -100px;
    }

    .key-down {
        bottom: -100px;
    }
}

@media only screen and (max-width: 370px) {
    .container {
        width: 130px;
        height: 130px;
    }

    .front {
        transform: translateZ(65px);
    }

    .back {
        transform: rotateY(180deg) translateZ(65px);
    }

    .right {
        transform: rotateY(90deg) translateZ(65px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(65px);
    }

    .top {
        transform: rotateX(90deg) translateZ(65px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(65px);
    }

    .key {
        height: 35px;
        width: 35px;
    }

    .key:active {
        height: 33px;
        width: 33px;
    }

    .key-left {
        left: -90px;
    }

    .key-right {
        right: -90px;
    }

    .key-up {
        top: -90px;
    }

    .key-down {
        bottom: -90px;
    }
}





