@import "mixin", "variables";

.aquarium {
  position: sticky;
  top: 0;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: url("../images/aquarium/underwater.jpg") no-repeat center;
  background-size: cover;
  //position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    width: 100%;
    height: 100%;
  }

  &__fish {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__container {
    @include flex-box(center, center, row);
    width: 90%;
    overflow: hidden;
    height: 500px;
    z-index: 2;
  }

  &__title {
    margin: 0 0 5vh;
    padding: 0;
    width: 100%;
    color: darken(rgba(255, 255, 255, 0.4), 95%);
    font-size: 17vw;
    text-align: center;
    line-height: 0.9;
    font-weight: 900;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    animation: shark 20s ease-in-out infinite;
    cursor: default;
    user-select: none;
  }
}

@keyframes shark {
  from {
    background-image: url("../images/aquarium/shark1.png");
    background-position: -60% 0;
  }

  50% {
    background-image: url("../images/aquarium/shark1.png");
    background-position: 160% 0;
  }

  51% {
    background-image: url("../images/aquarium/shark2.png");
  }

  to {
    background-image: url("../images/aquarium/shark2.png");
    background-position: -60% 0;
  }
}
